/* LINKS AND BUTTONS*/

.btn-contrast {
    --btn-width: 110px;
    --btn-height: 32px;
    align-content: center;
    align-items: center;
    width: var(--btn-width);
    height: var(--btn-height);
    min-width: var(--btn-width);
    min-height: var(--btn-height);
    appearance: button;
    color: var(--text-color-primary);
    background-color: var(--bg-color-contrast);
    border: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

    .btn-contrast:active {

        transform: scale(.95);
    }

    .btn-contrast:hover {
        color: var(--text-color-primary);
    }

    .btn-contrast.btn-icon {
        width: 30px;
        min-width: initial;
        font-size: 20px;
    }

/* OTHER */
.collection-preview {
    height: inherit;
    position: absolute;
    width: inherit;
    /*background-image: url("https://static.wikia.nocookie.net/the-antijimi/images/d/d6/Naked_Snake.png/revision/latest?cb=20200316155909");*/
}

.collection-name {
    background-color: var(--bg-color-primary);
    border: 1px solid var(--text-color-primary);
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

.detailed-info > * {
    margin-bottom: 10px;
}

.detailed-info {
    margin-bottom: 20px;
    min-height: 200px;
}

.game-collection-item {
    --display-collection-actions: none;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    height: fit-content;
}

    .game-collection-item:hover {
        --display-collection-actions: block;
    }

.game-collection-actions {
    width: 30px;
}

.game-collection-card {
    align-items: center;
    background-color: var(--bg-color-secondary);
    display: flex;
    height: var(--img-size-big);
    justify-content: center;
    width: var(--img-size-big);
    /*position: relative;*/
}

.btn-remove-collection {
    display: var(--display-collection-actions);
}

.game-comment {
    --display-remove-comment-btn: none;
}

    .game-comment:hover {
        --display-remove-comment-btn: flex;
    }

.form-add-comment {
}

.comment-textarea {
    width: 100%;
    align-self: stretch;
}

.game-comment, .form-add-comment {
    align-items: center;
    height: auto;
    justify-content: space-between;
    width: 65%;
    margin-top: 15px;
}

.flex-container {
    display: flex;
    gap: 15px;
}

    .flex-container > * {
        /*flex-grow:100;*/
    }

.text-info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding-top: 5px;
}

.text-info-small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
}

#comments-section {
    height: 700px;
}

    #comments-section > h3 {
        margin-bottom: 15px;
    }

#genre-selector > li {
    display: inline-block;
    margin: 0 10px;
}

#genre-selector {
    list-style: disc;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
}

#page-footer {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    text-align: center;
}

#search-form {
    display: flex;
    height: 35px;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#searchbox {
    width: 90%;
    text-align: center;
    /*width: 45%;*/
}

    #searchbox::placeholder {
        /*color: var(--text-color-contrast);*/
    }

.search-button {
    width: 10%;
}

#user-collections-section > :first-child {
    width: 100%;
}

#user-collections-section {
}

.game-img-small,
.user-avatar-small {
    height: 100%;
}

#game-img {
}

.img-standard {
    /*    --img-size: 170px;*/

    width: var(--img-size-standard);
    height: var(--img-size-standard);
    min-width: var(--img-size-standard);
    min-height: var(--img-size-standard);
    background-color: var(--bg-color-secondary);
}

.img-big {
    width: var(--img-size-big);
    height: var(--img-size-big);
    min-width: var(--img-size-big);
    min-height: var(--img-size-big);
    background-color: var(--bg-color-secondary);
}

.user-avatar {
    --avatar-size: 60px;
    width: var(--avatar-size);
    max-height: var(--avatar-size);
    max-width: var(--avatar-size);
    min-width: var(--avatar-size);
    min-height: var(--avatar-size);
}

#collection-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
}

    #collection-header .go-back-arrow {
        /*flex-grow: 1;*/
        font-size: 35px;
        width: fit-content;
    }

#collection-name {
    flex-grow: 1;
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
}

    .btn-group.comment-actions {
        min-width: 30px;
    }

#game-text-info {
    margin-bottom: 20px;
    min-height: 200px;
}

#about-game {
}

    #about-game .btn-group {
        align-self: flex-start;
    }

#user-avatar-big {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}

#user-text-info {
    /*margin-bottom: 20px;
    min-height: 200px;*/
}

.collections-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
}

    .collections-container > .game-collection-item {
    }

#default-collections-section {
    margin-bottom: 25px;
}

    #default-collections-section > :first-child {
        width: 100%;
    }

#profile-buttons {
    float: right;
}

#info-and-buttons-container {
    margin-bottom: 20px;
    min-height: 200px;
    align-items: flex-start;
}

.btn-remove-comment {
    display: var(--display-remove-comment-btn);
}

.btn-add-comment {
}

.page-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

    .page-content-header .go-back-arrow {
        /*flex-grow: 1;*/
        font-size: 35px;
        width: fit-content;
    }

    .page-content-header .title {
        flex-grow: 1;
        text-align: center;
    }

.link-default {
    text-decoration: none;
    color: var(--text-color-primary);
}

    .link-default:visited {
        color: var(--text-color-primary);
    }

    .link-default:hover {
        color: var(--text-color-contrast);
    }

.link-current {
    text-decoration: none;
    color: var(--text-color-contrast);
}

    .link-current:visited {
        color: var(--text-color-contrast);
    }

    .link-current:hover {
        color: var(--text-color-contrast);
    }

.auth-form {
    width: 45%;
    gap: 20px;
    justify-content: space-around;
}

    .auth-form input {
        height: 30px;
    }

    .auth-form label {
        margin-left: 5px;
        margin-bottom: 5px;
    }

#auth-btn-group {
    flex-direction: row-reverse;
    align-items: center;
}

.popup-interactive {
}

.search-field {
    background-color: transparent;
}

    .search-field:focus-visible {
        outline: none;
    }

    .search-field::placeholder {
        color: var(--text-color-primary);
    }

#beatiful-gamepad {
    margin-top: 30px;
    font-size: 10rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#search-results {
}

.game-item {
}

    .game-item:hover {
        /*box-shadow: 0 0 20px 1px var(--text-color-secondary);*/
    }

    .game-item .text-info-block {
        /*flex-grow: 1;*/
    }

.search-result {
    height: auto;
    margin-top: 15px;
}

    .search-result:hover {
    }

    .search-result .text-info-block {
        flex-grow: 1;
    }

.popup-interactive {
    width: 300px;
    height: 300px;
    padding: 10px;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    transition: 200ms ease-in-out;
    /*  display: flex;
            flex-direction: column;*/
}

    .popup-interactive.opened {
        transform: translate(-50%, -50%) scale(1);
    }

    .popup-interactive > * {
        margin: 10px 0;
    }

.popup-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*gap: 10px;*/
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-something {
}

    .main-something > * {
        margin-bottom: 10px;
    }

.input-block {
    /*margin-bottom: 10px;*/
    width: 85%;
}

    .input-block > * {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#report{
    margin-top: 60px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
}

.fat-text{
    font-size: 30px;
}