@page
@model GegaGamez.WebUI.Pages.Developers.SearchModel
@{
    ViewData ["developers"] = true;
}

<form id="search-form" class="rounded border-contrast">
    <input id="searchbox" asp-for="DevSearchName" class="font-primary borderless search-field" type="search" placeholder="Search for a developer" />
    <button type="submit" class="search-button font-contrast borderless">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</form>

<section id="search-results">
    <h2>Developers results:</h2>

    @foreach (var dev in Model.Developers)
    {
        <article class="flex-container search-result game-item">
            <a asp-page="/Developers/Index" asp-route-id="@dev.Id"> 
                <img class="img-standard game-img hover-shadow" src="/img/developer.png" alt="Game image" />
            </a>

            <div class="text-info-block">
                <h3 class="game-title-small">@dev.Name</h3>

                <span class="game-description-small font-secondary">
                    @dev.Description
                </span>
            </div>
        </article>
    }
</section>
